<div class="topic-box">
	<div class="wrapper">

		<h1 class="move-back"><%=link_to @category.name, category_path(@category) %></h1>
		<h1 class="box-name"><%=@topic.title %></h1>
		<p class="topic-discribe"><%=@topic.description %></p>

		<div id="posts">
		<% if @posts.present? %>
		  <% @posts.each do |post| %>
		    	<% unless post.new_record? %>
		    		<%=render partial: 'posts/post', locals: {post: post} %>
		      <% end %>
			<% end %>
		<% else %>
		  <p>There are no Posts here yet in <%=@topic.title%></p>
		<% end %>
	  </div>

		<span class="pagination"><%= will_paginate @posts %></span>

			<% if @current_user.present? %>
				<div class="post-form">
					<ul class="errors"></ul>
					<h1>Add New Post</h1>
					<%=form_for @post, remote: true, url: topic_posts_path(@topic) do |f| %>
						<%= render partial: 'posts/form', locals: { f: f } %>
					<p class="submit"><%=f.submit 'Add new Post' %></p>
				</div>
			<% end %>
			
		<% end %>

	</div>
</div>