<div class="topic-box">
	<div class="wrapper">

		<h1 class="box-name"><%=@topic.title%></h1>
		<p><%=@topic.description %></p>

		<% if @posts.present? %>
		  <table class="styled">
		    <thead>
		    <tr>
		    	<th>Author</th>
		      <th>Name</th>
		      <th>Description</th>
		    </tr>
		    </thead>
		    <tbody>
		    <% @posts.each do |post| %>
		    	<% unless post.new_record? %>
			      <tr>
			        <td><%=link_to post.user.login, user_path(post.user)%></td>
			        <td><%=post.title%></td>
			        <td><%=post.description%></td>
			        <td><%=link_to "edit", edit_topic_post_path(@topic, post)%> / <%=link_to "delete", topic_post_path(@topic, post), method: :delete, data: { confirm: "Do you want to delete #{post.title}?" }%></td>
			      </tr>
		      <% end %>
		    <% end %>
		    </tbody>
		  </table>
		<% else %>
		  <p>There are no Posts here yet in <%=@topic.title%></p>
		<% end %>

		<%=form_for @post, url: topic_posts_path(@topic) do |f| %>
			<%= render partial: 'posts/form', locals: { f: f } %>
			<p class="submit"><%=f.submit 'Add new Post' %></p>			
		<% end %>

	</div>
</div>