<div class="change-form">
	<div class="wrapper">

			<h1>Change password</h1>
		  <%=form_tag do %>
		  	<p class="label"><%=label_tag :current_password, "Current Password: " %></p>
				<p><%= password_field_tag :current_password %></p>
			  <p class="label"><%=label_tag :new_password, "New Password: " %></p>
				<p><%= password_field_tag :new_password %></p>
			  <p class="submit"><%=submit_tag 'Update Password' %></p>
		  <% end %>

	</div>
</div>