<div class="signup-form">
	<div class="wrapper">
		
		<h1>Sign up</h1>

		<%= render partial: "layouts/partials/form_error_messages", locals: {object: @user} %>

		<%= form_for @user, url: users_path do |f| %>
			<p>Login</p>
			<p><%= f.text_field :login %></p>
			<p>Email</p>
			<p><%= f.text_field :email %></p>
			<p>Password</p>
			<p><%= f.password_field :password %></p>
			<p><%= f.submit "Join The Forum" %></p>
		<% end %>

	</div>
</div>