<div class="profile-form">
	<div class="wrapper">

		<div class="about-user">
			<h2>User info:</h2>
			<p>First Name: <%=@user.first_name %></p>
			<p>Last Name: <%=@user.last_name %></p>
			<p>Country: </p>
			<p>City: <%=@user.city %></p>

			<p>Last posts by this User: </p>
				<% @last_posts.each do |post| %>
					<ul>
					 	<li class="content"><%=post.description %></li>
				    <li class="add-date"><%=post.created_at.strftime("%d %b %y at %I:%M%p") %></li>
				  </ul>
			  <% end %>

			<p>Last topics by this User: </p>
				<% @last_topics.each do |topic| %>
		      <ul>		        
		        <li class="about"><%=link_to topic.title, topic.category %></li>
		        <li class="content"><%=topic.description %></li>
			    </ul>
		    <% end %>

			<% if @current_user == @user %>
				<p>Email: <%=@user.email %></p>
				<p><%=link_to "Edit Profile", edit_user_path(@current_user) %></p>
			<% end %>
		</div>

	</div>
</div>