		<div class="categories-box">
			<p class="box-name">Categoties</p>
			<div class="category"><%=link_to ('cat1'), '#' %></div>
			<div class="category"><%=link_to ('cat2'), '#' %></div>
			<div class="category"><%=link_to ('cat3'), '#' %></div>
			<div class="category"><%=link_to ('cat4'), '#' %></div>
			<div class="category"><%=link_to ('cat5'), '#' %></div>
			<div class="category"><%=link_to ('cat6'), '#' %></div>
		</div>